---
layout: main
---
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %} 
  <div class="post-content">
    <div
      <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2><br />
      <span class="post-date">{{post.date | date: '%d/%m/%Y'}}&nbsp;&nbsp;&nbsp;</span>
    </div>

    <!--  <p>{{ post.content | strip_html | truncatewords: 25 }}</p> -->

    <a {{site.description}}>{{post.description}}</a>

    <!--  <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span> -->

    <h4>
      <a href="{{post.url | prepend: site.baseurl}}">continuar lendo »</a>
    </h4>

    <style type="text/css">
      <!--
      a:link,a:visited { text-decoration: none; }
      a:hover,a:visited:hover { color: #123456; }
      -->
    </style>

  </div>
</article>

{% endfor %}

{% include pagination.html %}
